vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Nov 2009 14:55:57 -0000
vti_extenderversion:SR|5.0.2.2623
vti_cacheddtm:TX|23 Nov 2009 14:55:57 -0000
vti_filesize:IR|3952
vti_cachedlinkinfo:VX|S|../img/bg.jpg S|../img/madeira_topo_bg.jpg S|../img/bg_conteudo.png S|iepngfix.htc S|../img/base_arredondada.png S|../img/bg_novidades.jpg S|../como_chegar/img/mapa.jpg
vti_cachedsvcrellinks:VX|FSUS|en/img/bg.jpg FSUS|en/img/madeira_topo_bg.jpg FSUS|en/img/bg_conteudo.png NSUS|en/css/iepngfix.htc FSUS|en/img/base_arredondada.png FSUS|en/img/bg_novidades.jpg FSUS|en/como_chegar/img/mapa.jpg
vti_backlinkinfo:VX|
