vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Dec 2010 19:59:23 -0000
vti_extenderversion:SR|5.0.2.2623
vti_cacheddtm:TX|12 Dec 2010 19:59:23 -0000
vti_filesize:IR|6171
vti_cachedlinkinfo:VX|S|../img/bg_2cavalos.jpg S|../img/madeira_topo_bg.jpg S|../img/marca.jpg S|../img/bg_menu_lateral.png S|iepngfix.htc S|../img/bg_conteudo.png S|iepngfix.htc S|../img/base_arredondada.png S|../img/bg_novidades.jpg S|../como_chegar/img/mapa.gif S|../img/genealogia.gif S|../contato/img/bg_lateral_direita.gif
vti_cachedsvcrellinks:VX|FSUS|img/bg_2cavalos.jpg FSUS|img/madeira_topo_bg.jpg FSUS|img/marca.jpg FSUS|img/bg_menu_lateral.png NSUS|css/iepngfix.htc FSUS|img/bg_conteudo.png NSUS|css/iepngfix.htc FSUS|img/base_arredondada.png FSUS|img/bg_novidades.jpg FSUS|como_chegar/img/mapa.gif FSUS|img/genealogia.gif FSUS|contato/img/bg_lateral_direita.gif
vti_backlinkinfo:VX|index_2cavalos.html
