vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|10 Sep 2009 19:00:12 -0000
vti_extenderversion:SR|5.0.2.2623
vti_cacheddtm:TX|10 Sep 2009 19:00:12 -0000
vti_filesize:IR|3952
vti_cachedlinkinfo:VX|S|../img/bg.jpg S|../img/madeira_topo_bg.jpg S|../img/bg_conteudo.png S|iepngfix.htc S|../img/base_arredondada.png S|../img/bg_novidades.jpg S|../como_chegar/img/mapa.jpg
vti_cachedsvcrellinks:VX|FSUS|img/bg.jpg FSUS|img/madeira_topo_bg.jpg FSUS|img/bg_conteudo.png NSUS|css/iepngfix.htc FSUS|img/base_arredondada.png FSUS|img/bg_novidades.jpg FSUS|como_chegar/img/mapa.jpg
vti_backlinkinfo:VX|
